

body {
  width: 100%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #303946;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav>.hide {
  display: none;
}

.sidenav #brand {
  box-shadow: 0 0.5px 0.5px gray;
  padding: 4.5px;
  font-size: 25px;
  margin: 0;
}

.sidenav h5 {
  color: white;
  width: 100%;
  padding: 7px;
  padding-left: 14px;
  margin: 0;
  background-color: #455264;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.sidenav>.profile {
  margin: 10px auto;
}

.sidenav>.profile>.row>img {
  border-radius: 8%;
  width: 60px;
  padding: 0;
  size: cover;
  margin-left: 10px;

}

.sidenav>.profile>.row>.info {
  padding: 0;
  margin: 0;
}

.sidenav>.profile>.row>.info>span {
  font-size: 0.8rem;
  float: left;
  color: white;
  margin: 8px;
  padding: 0;
  display: block;
}

.sidenav>.profile>.row>.info>.dropdown>.personal-menu {
  float: left;
  margin-left: 8px;
  padding: 2px;
}

.sidenav>.profile>.row>.info>.dropdown>ul {
  margin-top: 60px;
  margin-left: -35px;
}

.sidenav>.profile>.row>.info>.dropdown>ul>li>a {
  font-size: 13px;
}

/* The navigation menu links */

.sidenav a {
  text-align: center;
  padding: 5px;
  padding-left: 15px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  color: #8b929a;
  display: block;
  text-align: left;
  /* transition: 0.2s; */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #272f3a;
}

.sidenav>a>span {
  margin-left: 10px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  width: 100% - 200px;
  margin-left: 200px;
  transition: margin-left .25s;
  color: black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* navtab */

.nav-pills {
  border-bottom: 1px solid grey;
  box-shadow: 0 0.5px 0.5px gray;
}

.nav-pills>ul>li>a {
  color: black;
  padding: 0.8rem 1.2rem;
}

.nav-pills>ul>li>a>.icon-nav {
  height: 2rem;
}


/* MAIN CONTENT */




/*  */
